body {
  box-sizing: border-box;
    background: linear-gradient(to right, blue, transparent);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 2px;
  text-decoration: underline;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  margin: 0 auto;
}

.left {
  min-width: 300px;
}

.right {
  background: linear-gradient(120deg, white, transparent);
  padding: 0 5%;
  border-radius: 10px;
  max-height: 28vh;
  padding-bottom: 2%;
  margin-top: 2%;
  box-shadow: 5px 5px 5px black;
}

.left > h2 {
  display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    padding: 3%;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px black;
}

.scores {
  list-style: none;
    padding-inline-start: 0;
    border: 1px solid;
    padding: 2% 0;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    background: linear-gradient(45deg, white, transparent);
    margin-top: -8%;
    border-top: none;
}

.list-item {
  padding-inline-start: 5%;
  letter-spacing: 1px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 30px;
}

.list-item:nth-child(even) {
  background: black;
  color: white;
}

input[type=text] {
  display: block;
  line-height: 25px;
  padding: 2%;
  margin-bottom: 5%;
  border-radius: 5px;
}

button[type=submit] {
  float: right;
    min-width: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: greenyellow;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid;
    padding: 2% 5%;
}

.inactive {
  display: none;
}

.ref {
  display: flex;
  min-width: 30%;
  justify-content: space-evenly;
  flex-direction: row;
  font-weight: bold;
  background-color: gold;
  border-radius: 5px;
  border: 1px solid;
}

input[type=text]:focus {
  background-color: lightskyblue;
}

button:hover {
  cursor: pointer;
}